@font-face {
    font-family: myfont;
    src: url(./font.ttf);
}

*{
    font-family: myfont, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0;
    animation: fadein;
    animation-duration: 1s;
    opacity: 1;
    margin: 0;
    padding: 0;
}

@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input+error {
    display: flex;
    flex-direction: row;
}

.container {
    height: 95vh;
}

.input-box {
    border: black 1px solid;
    border-radius: 3px;
}

.active {
    font-weight: 900;
}

.inactive {
    font-weight: normal;
}

.city {
    text-shadow: 2px 2px 7px black;
    
}



.error-msg {
    color: red;
    font-size: 0.7rem;
}

img {
    width: 10vw;
    height: 10vw;
    filter: drop-shadow(5px 5px 5px #222);
}


.temperature {
    font-size: 2.5rem;
    text-shadow: 2px 2px 7px black;
}

.city {
    font-size: 2rem;
}

.forecast {
    display: flex;
    flex-direction: row;
    overflow: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 15px;
}

.forecast > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.today {
    display: flex;
    gap: 15px;
}

.footer {
    display: flex;
    height: 5vh;
    font-size: 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #383838;
    color: #FFC600;
}

.footer-img {
    filter: invert(63%) sepia(61%) saturate(774%) hue-rotate(4deg) brightness(111%) contrast(102%);
    width: 20px;
    height: 20px;
}

.footer-img:hover {
    transition: transform 0.3s ease-in-out;
    transform: rotate(360deg) scale(1.4);
}